@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  font-family: 'Indie Flower', cursive;
    margin: 20px;
  }

.App{
  display: flex;
  justify-content: center;
}

  h1 {
    text-align: center;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: column;
  }

  .game-field {
    display: flex;
    flex-direction: column;

  }
  
  .game-status{
    text-align: center;
    margin-bottom: 30px;
  }

  .game-board{
    margin: 0 0 30px 30%;
  }

  button{
    font-family: 'Indie Flower', cursive;
    margin: 2%;
  }
  
  .attention{
    background-color: lightcoral;
  }

  .actions{
    background-color: blanchedalmond;
  }

  .mode-select {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mode-select p {
    text-align: center;
  }
  
  .game-info {
    margin-left: 20px;
  }
  